<mat-nav-list>
  <mat-list-item *ngFor="let item of navbarItems">

    <a *ngIf="item.route; else noRouteItem" [routerLink]="item.route" (click)="onCloseSidenav()">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span  class="nav-caption">{{ item.name }}</span>
    </a>

    <ng-template #noRouteItem>
      <a (click)="onCloseSidenav()">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="nav-caption">{{ item.name }}</span>
      </a>
    </ng-template>

  </mat-list-item>
  <!-- <span *ngFor="let item of navbarItems">
    <a *ngIf="item.route; else noRouteItem" mat-list-item [routerLink]="item.route" (click)="onCloseSidenav()">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span class="nav-caption">{{ item.name }}</span>
    </a>
    <ng-template #noRouteItem>
      <mat-list-item>
        <button mat-icon-button  (click)="onCloseSidenav()">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="nav-caption">{{ item.name }}</span>
        </button>
      </mat-list-item>
    </ng-template>
  </span> -->
  <!-- <a mat-list-item routerLink="/signup" (click)="onCloseSidenav()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Singup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onCloseSidenav()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onCloseSidenav()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button  (click)="onCloseSidenav()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item> -->
</mat-nav-list>