a {
  text-decoration: none;
  color: white; 
}

a:hover, a:active {
  color: lightgrey;
}

.sidenav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

ul.navigation-items {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 599px) {
  .sidenav-links {
    display: none;
  }
}

@media screen and (min-width: 599px) {
  .sidenav-toggle {
    display: none;
  }
}