<mat-toolbar color="primary">
  <div class="sidenav-toggle">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">LOGO</a></div>
  <div class="sidenav-links">
    <ul class="navigation-items">
      <li *ngFor="let item of navbarItems">
        <a *ngIf="item.route; else noRouteItem" [routerLink]="item.route">{{ item.name }}</a>
        <ng-template #noRouteItem>
          <a [routerLink]="item.route">{{ item.name }}</a>
        </ng-template>
      </li>
      <!-- <li>
        <a routerLink="/signup">Singup</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/training">Training</a>
      </li>
      <li>
        <a>Logout</a>
      </li> -->
    </ul>
  </div>
</mat-toolbar>
