<section class="signup">
  <form class="signup-form" #form="ngForm" (ngSubmit)="onSubmit(form)">

    <mat-form-field>
      <input #emailInput="ngModel" matInput ngModel name="email" email 
        type="email" placeholder="Your email" required>
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
        <mat-error>E-mail is invalid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input #passwordInput="ngModel" matInput ngModel name="password" type="password" 
        placeholder="Your password" required minlength="6" >
        <mat-hint align="end">{{ passwordInput.value?.length }}/ 6</mat-hint>
        <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput ngModel name="birthdate" [matDatepicker]="picker" 
        placeholder="Your birthdate" [max]="maxDate" required >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel name="agree" color="primary" required>
      Agree to Terms and Conditions.
    </mat-checkbox>

    <button mat-raised-button color="primary" type="submit" 
    *ngIf="!(isLoading$ | async)" [disabled]="form.invalid">
      Submit
    </button>
    <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
  </form>
</section>